@use "variables" as var;
@use "base";
@use "decor";

@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.leftBox {
  @include flex();
  background: var.$bg;
  justify-content: flex-start;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  padding: 40px;
  color: white;
  text-align: left;
  position: relative;

  .content {
    padding: 0;
    padding-top: 10%;
    width: 90%;
  }

  p {
    width: 85%;
    position: relative;
    z-index: 3;
  }
}


/* Right part of screen design starts here */

.rightBox {
  @include flex();
  width: 50%;
  text-align: center;
   padding: 0;
       box-sizing: border-box; // Ensure padding and border are included in the width
  margin: 0; // Remove any default margin
  div{
    padding: 10px;
  }
}

h1 {
  color: white;
  width: 70%;
  font-size: 34px;
  letter-spacing: 1px;
  position: relative;
  z-index: 3;
}

.or{
  @include flex();
  flex-direction: row;
  font-weight: 400;
  position: relative;
  color: #aaa;
  span{
    padding-bottom: 10px;
    font-weight: 150;
  }
  p{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.divider {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #aaa;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
  margin-left: -10px;
  box-sizing: border-box; // Ensure padding and border are included in the width
  width: 100%;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.forgot-password {
  font-size: 0.8rem;
  color: #007bff;
  text-decoration: none;
  float: right;
  margin-top: 0.3rem;
  margin: 10px;
}

.login-btn {
  background-color: #0e0e0e;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.create-account {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
}

.password-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(5%);
  cursor: pointer;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #ccc;
  font-weight: bold;
  color: #272525;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.google-btn .google-icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}


/* hide default icon eye */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}